.card {
  background-color: var(--layer);
  padding: 0.75rem 1rem;
}

.card:hover {
  background-color: var(--layer-hover);
  cursor: pointer;
}

.card:active {
  background-color: var(--layer-active);
}

.card:hover .card-link {
  text-decoration: underline;
}

.card-title {
  font-size: 1.125rem;
  font-weight: 600;
}

.card-subtitle {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: underline;
}
