html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  color: var(--text-primary);
  background-color: var(--background);
  max-width: 40rem;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.125rem;
}

p {
  max-width: 37.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2.5rem;
}

label {
  display: block;
  font-size: 0.875rem;
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
}

input,
select {
  display: block;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  height: 2.5rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  background-color: var(--layer);
  color: var(--text-primary);
  font-size: 0.875rem;
  font-family: inherit;
  padding: 0 1rem;
  border: 0;
  border-radius: 0;
  border-bottom: 0.0625rem solid var(--border-strong);
}

select {
  cursor: pointer;
}

select:active,
select:focus,
input:active,
input:focus {
  outline: 0.125rem solid var(--focus);
  outline-offset: -0.125rem;
  border-radius: 0;
}

input[aria-invalid="true"],
select[aria-invalid="true"] {
  outline: 0.125rem solid var(--error);
  outline-offset: -0.125rem;
  border-radius: 0;
}

button {
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  margin-top: 1rem;
}
