<h2 mat-dialog-title>Boka massage</h2>
<form [formGroup]="form">
    <mat-dialog-content class="mat-typography">
            <div class="row">
                <mat-form-field>
                    <mat-label>Kroppsdel</mat-label>
                    <mat-select formControlName="kroppsdel" multiple>
                        <mat-option *ngFor="let kroppsdel of kroppsdelar" [value]="kroppsdel">{{ kroppsdel }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Datum</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="datum">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.controls['datum'].hasError('required')">Fältet är obligatoriskt</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Från</mat-label>
                    <input matInput formControlName="fran" required type="time">
                    <mat-error *ngIf="form.controls['fran'].hasError('required')">Fältet är obligatoriskt</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Till</mat-label>
                    <input matInput formControlName="till" required type="time">
                    <mat-error *ngIf="form.controls['till'].hasError('required')">Fältet är obligatoriskt</mat-error>
                </mat-form-field>
            </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Avbryt</button>
        <button mat-button [mat-dialog-close]="true" [disabled]="!form.valid" type="submit" (click)="onSend()">Boka</button>
    </mat-dialog-actions>
</form>

