.calendar {
  padding: 0 10px;
}

::ng-deep .fc .fc-toolbar-title {
  display: none;
}

::ng-deep .fc-timegrid-event-short .fc-event-time:after {
  content: none !important;
}

::ng-deep .fc-button {
  background-color: #D67A48 !important;
  border: none !important;
}
